/* setting default font just cause */
* { 
  font-family: 'roboto_condensedregular';
}

#root {
  height: 100vh;
}


.App {
  background: linear-gradient(to right, hsl(224, 61%, 45%), #0e4ea1);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@font-face {
  font-family: 'roboto_condensedregular';
  src: url('fonts/robotocondensed-regular-webfont.woff2') format('woff2'),
       url('fonts/robotocondensed-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header {
  font-size: 2em;  
  font-weight: bold;
  margin-bottom: 20px;  
}

.box-header {
  font-size: 1.2em;  
  font-weight: bold; 
  margin-bottom: 20px;  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button-box {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around; 
  align-items: stretch; 
  padding: 10px;
  border-radius: 5px;
  flex: 1 0 50%;
  border: 5px solid #000000;
}

.button-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-bottom: 10px; 
  display: flex;
}

.left-box { 
  border: 5px solid #000000; 
  padding: 10px;
  margin-bottom: 10px; 
  border-radius: 5px;
  display: flex;
}

.content-container {
  display: flex; 
  flex: 1; 
}

.center-box {
  width: 48%; 
  border: 5px solid #000000;
  padding: 10px; 
  margin-right: 10px; 
  border-radius: 5px;
}

.right-box {
  width: 48%; 
  border: 5px solid #000000; 
  padding: 10px; 
  border-radius: 5px;
}

.button-modern {
  background-image: linear-gradient(to bottom, rgb(52, 48, 250), #070be6);  
  color: rgb(254, 254, 255);
  padding: 6px 12px;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  cursor: pointer;  
  transition: all 0.3s ease-in-out;  
  margin-top: 5px;
  margin-bottom: 5px;
}

.button-modern:hover {
  background-image: linear-gradient(to bottom, #388E3C, #4CAF50);  
}

.input-modern {
  background-color: #f2f2f2; 
  border: none; 
  border-radius: 5px; 
  padding: 7px 14px; 
  font-size: 15px; 
  color: #333;  
  transition: all 0.3s ease-in-out; 
}

.input-modern:focus {
  background-color: #ffffffb4; 
  outline: 2px solid #03b92b; 
}

button:disabled,
button[disabled]{
  background-image: none;
  background-color: #cccccc;
  color: #666666;
}

.split-screen {
  width: 100%;
  height: 100%;
  display: table;
}

.main-screen {
  background-color: #2951B6;
  width: 71.5%;
  height: 100%;
  display: table-cell
}
.center {
  text-align: center;
}

.clueless_logo {
  width: 30%;
}

.chatbox {
  background-color: #70B1FF;
  padding: 10px;
  display: table-cell;
}

.chatlog {
  height: 80vh;
  overflow-y: scroll;
}

.button-custom {
  width: 200px;
  height: 40px;
  background: #002358;
  border-radius: 15px;
  color: #fff;
  border-style: none;
  margin: 6px;
  font-size: 18px;
  /* Rectangle 4 */
  text-align: center;
  /* vertical-align:middle; */
}

.extra-right-margin {
  margin-right: 20px;
}

.text-entry {
  background-color: #DCEAFF;
  border-radius: 15px;
  border-style: none;
  width: 200px;
  height: 40px;
  font-size: 18px;
  text-align: center;
}

.link {
  color: #FFF;
  vertical-align: -webkit-baseline-middle;
  text-decoration: none;
}